{% load static %}
<!-- linha acima incluída para que possa trabalhar com arquivos estáticos -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>

<body>
    <!-- EM HTML 
    <img src="../static/img/Logo_senac.jpg" alt="Logo Senac" />-->

    <!-- Em Django -->
    <img src="{%static'/img/Logo_senac.jpg'}">
    <h1>Clientes Senac - SMP</h1>
    <ul>
        {% for cliente in clientes %} 
        <li><a href="/cliente/{{cliente.id}}">{{cliente.nome}}</a> - {{ cliente.data_nascimento}}</li>
        {% endfor %}
    </ul>

    <h1>Lista de Profissões Senac - SMP</h1>
    <ul>
        {% for profissao in profissoes %} 
        <li>{{profissao.nome}}</li>
        {% endfor %}
    </ul>
</body>

</html>